@model HomeViewModel

<partial name="_Carousel" />

<div class="text-center">
    <img src="~/Images/logo.png" class="logo-mark mx-auto" />
    <h1>Cakes of the Week</h1>
    <h5>Enjoy the weekly selection of our cakes</h5>

    <div class="row cakes-of-the-week">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            @foreach(var cake in Model.CakesOfTheWeek)
            {
                <partial name="_CakeCard" model="cake" />
            }
        </div>
    </div>
</div>

