@model CakeListViewModel

<h1>@Model.CurrentCategory</h1>
@foreach(var cake in Model.Cakes)
{
    <div>
        <h2>@cake.Name</h2>
        <h3>@cake.Price.ToString("c")</h3>
        <h4>@cake.Category.CategoryName</h4>
    </div>
}